
<%if @game_states["#{position}".to_sym] == "" %>
<%= hidden_field_tag :pc_move, "n"  %>
  <%= hidden_field_tag :pos, "#{position}"  %>
  <button class ='ttt_btn'></button>
  <!-- <%= f.submit "Click me!", class: "ttt_btn" %> -->
<% else %>
  <button class ='ttt_btn'><%=@game_states["#{position}".to_sym]%></button>
<% end %>