/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
        min-width: 960px;
}

/* =Containers
--------------------------------------------------------------------------------*/
.container_12
{
        margin-left: auto;
        margin-right: auto;
        width: 960px;
        text-align: center;
        margin-top: 100px;
        border-radius: 10px;
        opacity:0.85;
        font-family: 'Helvetica';
        /*color:white;*/
        overflow: auto;
        height:100%;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
        display: inline;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
        position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .grid_1 {width: 60px;}
.container_12 .grid_2 {width: 140px;}
.container_12 .grid_3 {width: 220px;}
.container_12 .grid_4 {width: 300px;}
.container_12 .grid_5 {width: 380px;}
.container_12 .grid_6 {width: 460px;}
.container_12 .grid_7 {width: 540px;}
.container_12 .grid_8 {width: 620px;}
.container_12 .grid_9 {width: 700px;}
.container_12 .grid_10 {width: 780px;}
.container_12 .grid_11 {width: 860px;}
.container_12 .grid_12 {width: 940px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .prefix_1 {padding-left: 80px;}
.container_12 .prefix_2 {padding-left: 160px;}
.container_12 .prefix_3 {padding-left: 240px;}
.container_12 .prefix_4 {padding-left: 320px;}
.container_12 .prefix_5 {padding-left: 400px;}
.container_12 .prefix_6 {padding-left: 480px;}
.container_12 .prefix_7 {padding-left: 560px;}
.container_12 .prefix_8 {padding-left: 640px;}
.container_12 .prefix_9 {padding-left: 720px;}
.container_12 .prefix_10 {padding-left: 800px;}
.container_12 .prefix_11 {padding-left: 880px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .suffix_1 {padding-right: 80px;}
.container_12 .suffix_2 {padding-right: 160px;}
.container_12 .suffix_3 {padding-right: 240px;}
.container_12 .suffix_4 {padding-right: 320px;}
.container_12 .suffix_5 {padding-right: 400px;}
.container_12 .suffix_6 {padding-right: 480px;}
.container_12 .suffix_7 {padding-right: 560px;}
.container_12 .suffix_8 {padding-right: 640px;}
.container_12 .suffix_9 {padding-right: 720px;}
.container_12 .suffix_10 {padding-right: 800px;}
.container_12 .suffix_11 {padding-right: 880px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .push_1 {left: 80px;}
.container_12 .push_2 {left: 160px;}
.container_12 .push_3 {left: 240px;}
.container_12 .push_4 {left: 320px;}
.container_12 .push_5 {left: 400px;}
.container_12 .push_6 {left: 480px;}
.container_12 .push_7 {left: 560px;}
.container_12 .push_8 {left: 640px;}
.container_12 .push_9 {left: 720px;}
.container_12 .push_10 {left: 800px;}
.container_12 .push_11 {left: 880px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .pull_1 {left: -80px;}
.container_12 .pull_2 {left: -160px;}
.container_12 .pull_3 {left: -240px;}
.container_12 .pull_4 {left: -320px;}
.container_12 .pull_5 {left: -400px;}
.container_12 .pull_6 {left: -480px;}
.container_12 .pull_7 {left: -560px;}
.container_12 .pull_8 {left: -640px;}
.container_12 .pull_9 {left: -720px;}
.container_12 .pull_10 {left: -800px;}
.container_12 .pull_11 {left: -880px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
        clear: both;
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
        content: "\0020";
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
}
.clearfix:after {
        clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
        zoom: 1;
}



/***************************************************************************************/

.ttt_btn{
  width: 140px;
  height: 100px; 
  margin: 0px; 
  font-size: 50px; 
  text-align: center;  
}

.grid_12.ttt_grid{
  /*margin-left: 360px;*/
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 35px;
}

.column_one{
  /*text-align: right;*/
  margin: 0px;
}

.column_two{
 /* margin-left: -10px;
  margin-right: -50px;*/
  margin: 0px;
}

.column_three{
  
  margin: 0px;
}

a {
  text-decoration: none;
}

nav a:visited{
  color:white;
}

nav a{
  color: white;
}

nav a:hover{
  color: #ec7707;
}

nav {
  
  background-color: black;
  padding: 10px 4px 5px 0;
  margin-bottom: 30px;
  opacity:0.7;
} 

nav ul{
list-style-type:none;
/*padding:10px;*/
text-align: left;
}

nav ul li{
  display: inline-block;
  margin-right: -4px;
  position: relative;
  cursor: pointer;
  color: white;
  margin: 10px;
  font-size: 20px;
  font-family: 'Audiowide', cursive;
}
nav ul li:visited{
  color: white;
}

nav ul li ul{
  padding: 0;
  position: absolute;
/*  top: 48px;*/
  left: 0;
  width: 250px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  padding: 15px 20px;
  background: #000;
}

nav ul li ul li{

  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

nav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
.right-nav{
  float: right;
  text-align: right;
  font-family: 'Helvetica'
}

hr{
  width: 350px;
}

.h3{
  font-size: 15px;
  padding: 10px;
}

.ttt_name{
  font-size: 15px;
  margin: 10px;
}

.field #error_explanation{
  margin-left: auto;
    margin-right: auto;
}


.field{
 margin-left: auto;
    margin-right: auto;
}

.grid_12.show_users table{
  margin: auto;
}

.grid_12.show_users table th{
  padding: 10px;
  font-weight: bold;
}




















